# Assigment 1: Data Cleansing and Summarisinig

**Task 1: data preparation (10%)**

In [115]:
# preparing and check the environment
import sys
sys.executable

'c:\\APP\\Python\\python.exe'

In [116]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [117]:
# data loading
bank_df = pd.read_csv('bank.txt', delimiter="\t")
bank_df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2.0,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4.0,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1.0,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3.0,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1.0,999,0,nonexistent,-0.1,93.200,-42,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1.0,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1.0,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2.0,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1.0,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1.0,999,0,nonexistent,-0.1,93.200,-42,4.120,5195.8,no

In [118]:
# list out the missing percentage of each column in data
def MissingPercentage(df): return df.isna().sum()*100/len(df)

describe = bank_df.describe().round(1)
describe = pd.concat([describe, pd.DataFrame([MissingPercentage(bank_df)], index=['missinng'])[list(describe.columns)]])

# simple stats of data
describe

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,euribor3m
count,4119.0,4116.000000,4117.000000,4119.0,4119.0,4117.000000,4117.000000,4117.000000
mean,40.2,256.800000,2.500000,960.4,0.2,0.100000,93.600000,4.900000
std,10.6,254.700000,2.600000,191.9,0.5,1.600000,0.600000,81.400000
min,13.0,0.000000,1.000000,0.0,0.0,-3.400000,92.200000,0.600000
25%,32.0,103.000000,1.000000,999.0,0.0,-1.800000,93.100000,1.300000
50%,38.0,181.000000,2.000000,999.0,0.0,1.100000,93.700000,4.900000
75%,47.0,317.000000,3.000000,999.0,0.0,1.400000,94.000000,5.000000
max,140.0,3643.000000,35.000000,999.0,6.0,1.400000,94.800000,5228.100000
missinng,0.0,0.072833,0.048555,0.0,0.0,0.048555,0.048555,0.048555

In [119]:
# as can be seen, the percentage of missing value takes not too considerable, so we could drop it
bank_df.dropna()
print(f"Shape of data after removing missing rows: {bank_df.shape}")

Shape of data after removing missing rows: (4119, 21)